.header {
  z-index: 10;
  position: fixed;
  height: 8vh;
  background-color: $white;
  mix-blend-mode: normal;
  align-items: center;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.05);
  .header-img {
    height: max-content;
    width: 15.5vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
  .buttons {
    font-family: $font;
    .btn-1 {
      width: 100px;
      height: 30px;
      text-transform: capitalize;
      align-self: center;
      background-color: $white;
      max-height: fit-content;
      border-radius: 5px;
      border: 1px solid $secondary;
      color: $secondary;
      margin-right: 10px;
    }
    .btn-2 {
      width: 100px;
      height: 30px;
      text-transform: capitalize;
      align-self: center;
      color: $white;
      max-height: fit-content;
      border-radius: 5px;
      background-color: $secondary;
      margin-left: 10px;
    }
    @media only screen and (max-width: 760px) {
      .btn-1 {
        width: 70px !important;
        height: 20px;
        font-size: 12px;
        padding: 0;
      }
      .btn-2 {
        padding: 0;
        font-size: 12px;
        width: 70px;
        height: 20px;
      }
    }
  }
}