html, body {
  background-color: $bg;
  font-family: $font;
} 

section {
  height: 100vh;
  width: 100vw;
}
.section1 {
  background-color: $white !important;
  width: 100vw;
  .innerSection {
    padding-top: 20vh ;
    width: 50%;
    margin: auto;
    
    h1 {
      font-size: 48px;
      line-height: 65px;
      font-weight: 900;
    }
    
    p {
      font-size: 18px;
      line-height: 25px;
    }
    
    button {
      width: 170px;
      height: 50px;
      max-height: unset !important;
      text-transform: capitalize;
      align-self: center;
      background-color: $fourth;
      max-height: fit-content;
      border-radius: 5px;
      color: $white;
      margin-right: 10px;
      margin-bottom: 50px;
    }
    @media only screen and (max-width: 760px) {
      padding-top: 10vh; 
      width: 80%; 
      h1 {
        font-size: 38px;
        line-height: 55px;
      }
      
      p {
        font-size: 12px;
        line-height: 25px;
      }
      
      button {
        width: 150px;
        height: 35px ;
      }
    }
  }
  
  .s1Img {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
  
}

.section2 {
  @media only screen and (max-width: 760px) {
    .innerSection{
      display: inline !important;
    }
    .right {
      width: 100vw !important;
    }
    .left {
      width: 100vw !important;
    }
  }
  h2 {
    margin: auto;
    width: 80%;
    font-size: 48px;
    line-height: 65px;
    font-weight: 900;
  }
  
  p {
    margin: auto;
    width: 80%;
    font-size: 18px;
    line-height: 25px;
  }

  .right {
    color: $white;
    background-color: rgba($color: $fourth, $alpha: .6);
    width: 50vw;
    height: 100vh;
    .s2Img {
      width: 40vh;
      margin: 20px auto;
    }
  }

  .left {
    width: 50vw;
    height: 100vh;
    .s1Img {
      width: 40vh;
      margin: 20px auto;
    }
  }
}